/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  font-weight: bold;
}

.fieldset {
  border-left: 100px;
}

.row.labels {
  padding-left: 150px;

}

.band {
  font-size: 50px;
  text-align: center;
  color: white;
}

.concert-goers {
  text-align: center;
  color: white;
  font-size: 20px;
}

.concert-list {
  font-size: 20px;

}

.labels {
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: relative;

}
.font {
  color: white;
  font-weight: 800;
}
//
// a {
//   font-weight: 600;
//   color: white;
// }

a:hover{
  cursor: pointer;
  font-size: 20px;
  color: pink;
}

a:click{
  cursor: pointer;
  color: pink;
}

.container {
  height: 250px;
  width: 250px;
  overflow-y: scroll;
  background: transparent;
  float: right;
}

.row.concert-list {
  margin-right: 20px;
}

.concert-container{
  margin: 100px;
}

#scrollable {
  margin: 10%;
}

#attendees-title {
font-weight: 500;
}

.band-details{
  font-weight: 400;
  color: white;
}

.concert-goers {
  font-size: 30px;
  color: white;
}

.people {
  font-size: 10px;
  color: white;
}

.profile {
  text-align: center;
}

#profile-heading {
  text-align: center;
}
